.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.container > div {
    padding: 6px 6px 6px 6px;
}

.slider-input {
    width: 66px;
}

/* Session-specific data */
#hiddenDiv {
    display: none;
}
#hiddenDiv  * {
    display: inherit;
}

/* options panel */
#optionsPanel {
    /* background-color: darkgrey; */
    flex: 1 25% ;
    margin-left: 0;
    margin-right: 5px;
    padding-bottom: 20px;
    /* max-height: 83rem; */
    /* overflow-x: hidden;
    overflow-y: auto; */
}

/* tab sections */
h4 {
    margin-bottom: 0px;
}

div > h5{
    margin-top: 20px;
    margin-left: 25px;
}

#spans {
    width: 100%;
}

.right {
    float: right;
}

.pad-top {
    margin-top: 2em;
}

table {
    width : 50%; 
    table-layout: fixed;
}

#payoff-maker, #normal-form {
    padding-left: 10%;
    width: 75%;
}

.confirm-btn {
    margin-top: 3vh;
}
/* main display */
#bigData {
    /* background-color: coral; */
    flex: 2 75% ;
}

#normal-form-cb-errors {
    background-color: chartreuse;
}

/* footer */
#footer {
    width: 100%;
    /* background-color: blue; */
}

.agent-slider {
    margin-left: 6px; 
    margin-bottom: 5px;
}

#num-turns {
    margin-top: 4vh;
    margin-bottom: -3vh;
    width: 30%;
}